# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Zadania moodle/Wydajność wejscia i wyjścia/Wydajność wejscia i wyjścia Maciej Dudek.zip
Zadania moodle/Wydajność wejscia i wyjścia/przekopiowany_tekst.txt
Zadania moodle/Wydajność wejscia i wyjścia/rozwiązanie.txt
